@model Tuple<List<Post>, List<List<TemplateViewModel>>>
@*@foreach (var post in Model.Item1)
    {
        <h2>Post N @post.Id</h2>
        @foreach (var template in post.Templates)
        {
            <h5>@template.Slug</h5>
            <partial name="_@template.Slug.ToString()" model="@Model.Item2.FirstOrDefault(m=>m.Slug==template.Slug)"></partial>
        }
    }*@

@for (int i = 0; i < Model.Item2.Count; i++)
{
    foreach (var rec in Model.Item2[i])
    {
        <partial name="_@rec.Slug" model="@rec" />
    }
    <form method="post" asp-controller="Templates" asp-action="Remove" asp-route-postId="@Model.Item1[i].Id">
        <input type="submit" value="Delete" />
    </form>
    <hr>
}